html, body {
    background-color: black;
    color: rgb(91, 222, 255);
    height: 100%;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

/* Game Start Screen */
#start-screen {
    height: 100%;
    width: 100%;
    padding: 100px;
    background-color: black;
    font-size: 2rem;
    text-align: center;
}
#title {
    color: rgb(91, 222, 255);
}
#game-start {
    color: white;
    animation: blinker 2.5s linear infinite;
}
.star{
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255,255,255,0.0);
    border-radius: 5px;
}
/* Universal Styles */
.options-box {
    background-color: #111;
    border: 1px solid rgb(91, 222, 255);
    border-radius: 5px;
    width: 65%;

}
.invisible {
    visibility: hidden;
}

/* Character Creation Form */
.fullWidth {
    width: 100%;
}
.niceInput {
    height: 75px;
    width: 25%;
    line-height: 2;
    background-color: inherit;
    color: rgb(91, 222, 255);
    border-style: none;
    border-bottom: 1.5px solid rgb(91, 222, 255);
    outline: none;
    font-size: 2rem;

}
.niceLabel {
    box-sizing: border-box;
    width: 750px;
    margin: 10px;
    font-size: 1.5rem;
    padding: 0;
}
.selectionBtn {
    height: 50px;
    width: 125px;
    margin: 10px;
    background-color: rgb(91, 222, 255);
    color: rgb(5, 5, 39);
    border-style: none;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 1.25rem;
}
#raceDiv {
    display: inline-block;
}


/* ... */
#player-action {
    float: left;
}
.character-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 325px;
    width: 200px;
    background-color: black;
    border: 1px solid rgb(91, 222, 255);
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    font-family: Aldrich;
}

.character-card h2 {
    border-bottom: 1px solid rgb(91, 222, 255);
    font-family: Orbitron;
}

.character-card p {
    margin: 4px 0;
}

.char-stats {
    text-align: left;
    border-top: 1px solid rgb(91, 222, 255);
}


#char-desc {
    background-color: black;
    color: rgb(91, 222, 255);
    font-family: Aldrich;
}

/* Player Info Section */
#player-info {
    float: left;
    height: 100%;
    width: 25%;
    background-color: rgb(2, 5, 36);
    color: white;
}
/* Pseudo Classes */

.character-card:hover {
    border: 2px solid rgb(70, 120, 138);
    box-shadow: 3px 3px;
}
.selectionBtn:hover {
    background-color: black;
    color: rgb(91, 222, 255);
    box-shadow: 2px 2px;
}

/* Custom Animations */
@keyframes blinker {
    50% {
        opacity: 0.1;
    }
}

@keyframes twinkle {
    0% {
      transform: scale(1, 1);
      background: rgba(255,255,255,0.0);
      animation-timing-function: ease-in;
    }
    60% {
      transform: scale(0.8, 0.8);
      background: rgba(255,255,255,1);
      animation-timing-function: ease-out;
    }
    80% {
      background: rgba(255,255,255,0.00);
      transform: scale(1, 1);
    }
    100% {
      background: rgba(255,255,255,0.0);
      transform: scale(1, 1);
    }
  }